@using ShopMVC.ViewModels;

@model SubviewViewModel

<div class="row">
    <div class="col-3">
        <div>
            @Html.Action(MVC.Categories.List())
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col" style="padding: 20px;">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
        <div class="row">
            <div class="col">
                @Html.Partial(Model.TargetView, Model.TargetViewModel)
            </div>
        </div>
    </div>
</div>

@section AdditionalStyles
{
    @Styles.Render(Links.Bundles.Styles.UiCssBundle)
}

@section AdditionalScripts
{
    @Scripts.Render(Links.Bundles.Scripts.JqueryUiBundle)
}