@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-3">
        <div>
            @Html.Action(MVC.Categories.List())
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col" style="padding: 20px;">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
        <div class="row">
            <div class="col">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

<!-- Propagate sections rendering to parent (_Layout) view -->
@section AdditionalStyles
{
    @RenderSection(Links.Sections.AdditionalStyles, false)
}

@section AdditionalScripts
{
    @RenderSection(Links.Sections.AdditionalScripts, false)
}